.login-container {
	position: relative;
	min-width: 550px;
	height: 100%;
	min-height: 500px;
	background: linear-gradient(to bottom right, #87bcfd, #4581ea);
	.dark {
		position: absolute;
		top: 4.5%;
		right: 3.2%;
	}
	.login-box {
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 95%;
		height: 95%;
		padding: 0 4% 0 30px;
		border-radius: 10px;
		background-color: transparent;
		.login-left {
			width: 620px;
			> h1 {
				font-weight: bold;
				font-size: 40px;
				color: #fff;
				width: 80%;
				padding-left: 30px;
			}
			img {
				width: 80%;
			}
		}
		.login-form {
			width: 420px;
			padding: 50px 40px 45px;
			border-radius: 10px;
			box-shadow: 2px 3px 7px rgb(0 0 0 / 20%);
			background: rgba(255, 255, 255, 0.8);
			.login-logo {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 45px;
				.login-icon {
					width: 60px;
					height: 60px;
					border-radius: 50%;
				}
				.logo-text {
					padding-left: 25px;
					font-size: 38px;
					font-weight: bold;
					color: #50575e;
					white-space: nowrap;
				}
			}
			.el-form-item {
				margin-bottom: 40px;
			}
			.login-btn {
				display: flex;
				justify-content: space-between;
				width: 100%;
				margin-top: 40px;
				white-space: nowrap;
				.el-button {
					width: 185px;
				}
			}
		}
	}

	.logo {
		left: 60px;
		top: 58px;
		width: 140px;
		position: absolute;
		img {
			max-width: 100%;
		}
	}
}
.opt {
	display: flex;
	align-items: center;
	justify-content: space-between;
	> span {
		color: #2b8cff;
		font-size: 14px;
	}
}
